body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
  }

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

#resume-header {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.timestamp, .location {
    float: right;
    font-style: italic;
    margin-left: 1rem;
  }